<body>
<div class="box">
  <h2>{ you stink }</h2>
  <img id='ruby' src='ruby.png'><br><br><br><br><br><br><br><br><br><br><br>
  logged in as <%= "#{session[:xxx]}" %><br><br>
  <a href="/logout">Logout</a>

</div>
</body>
